<img src="https://i.imgur.com/6U6q5jQ.png"/>

_____

# Analytics on GeodataFrames
 

Let's read the data in:

In [1]:
# data table
import pandas as pd
linkData="https://github.com/SocialAnalytics-StrategicIntelligence/OrganizeExploreAndQuery/raw/main/dataFiles/dengue_ok.pkl"
dengue = pd.read_pickle(linkData)
dengue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398943 entries, 0 to 398942
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   departamento  398943 non-null  object
 1   provincia     398943 non-null  object
 2   distrito      398943 non-null  object
 3   ano           398943 non-null  int64
 4   semana        398943 non-null  int64
 5   sexo          398943 non-null  object
 6   edad          398943 non-null  int64
 7   enfermedad    398943 non-null  category
 8   year          398931 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](1), int64(3), object(4)
memory usage: 24.7+ MB

In [2]:
dengue.head()

,departamento,provincia,distrito,ano,semana,sexo,edad,enfermedad,year
0,HUANUCO,LEONCIO PRADO,LUYANDO,2000,47,M,9,SIN_SEÑALES,2000-01-01
1,HUANUCO,LEONCIO PRADO,LUYANDO,2000,40,F,18,SIN_SEÑALES,2000-01-01
2,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,2000,48,F,32,SIN_SEÑALES,2000-01-01
3,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,2000,37,F,40,SIN_SEÑALES,2000-01-01
4,HUANUCO,LEONCIO PRADO,MARIANO DAMASO BERAUN,2000,42,M,16,SIN_SEÑALES,2000-01-01

In [3]:
dengue.ano.value_counts()

ano
2022    56207
2017    43071
2021    40501
2020    39744
2015    29467
2016    22865
2012    20775
2001    16092
2014    15530
2011    15236
2019    13179
2010    12454
2013    12041
2009    11282
2008    10528
2004     7962
2002     6293
2007     5334
2005     5015
2018     4550
2000     4324
2006     3628
2003     2865
Name: count, dtype: int64

In [4]:
dengue=dengue[dengue.ano>=2012]

In [5]:
dengue.enfermedad.value_counts()

enfermedad
SIN_SEÑALES    249278
ALARMA          47028
GRAVE            1624
Name: count, dtype: int64

In [6]:
dengue_alarma=dengue[dengue.enfermedad=='ALARMA']

dengue_alarma.head()

,departamento,provincia,distrito,ano,semana,sexo,edad,enfermedad,year
101040,ANCASH,SANTA,CHIMBOTE,2012,12,F,31,ALARMA,2011-01-01
101150,ANCASH,SANTA,CHIMBOTE,2012,18,M,28,ALARMA,2012-01-01
101151,ANCASH,SANTA,CHIMBOTE,2012,18,F,16,ALARMA,2012-01-01
101152,ANCASH,SANTA,CHIMBOTE,2012,19,F,20,ALARMA,2012-01-01
101153,ANCASH,SANTA,CHIMBOTE,2012,19,F,45,ALARMA,2012-01-01

In [7]:


indexList=['ano','departamento','provincia','distrito']
aggregator={'enfermedad':[len]}
dengue_distYear=dengue_alarma.groupby(indexList,observed=True).agg(aggregator)
dengue_distYear.columns=['conteo']
dengue_distYear

                                           conteo
ano  departamento provincia  distrito
2012 AMAZONAS     BAGUA      ARAMANGO           1
                             BAGUA             50
                             COPALLIN           1
                             LA PECA            1
                  UTCUBAMBA  BAGUA GRANDE       7
...                                           ...
2022 UCAYALI      PADRE ABAD HUIPOCA            1
                             IRAZOLA            6
                             NESHUYA           16
                             PADRE ABAD        47
                  PURUS      PURUS              1

[1971 rows x 1 columns]

In [8]:
dengue_distYear.unstack(0) #leftmost index in rows

                                   conteo                                    \
ano                                  2012  2013  2014 2015  2016  2017 2018
departamento provincia  distrito
AMAZONAS     BAGUA      ARAMANGO      1.0   NaN   NaN  NaN   NaN   NaN  NaN
                        BAGUA        50.0   1.0   3.0  NaN   NaN   NaN  1.0
                        COPALLIN      1.0   NaN   NaN  NaN   NaN   NaN  NaN
                        EL PARCO      NaN   NaN   NaN  NaN   NaN   NaN  NaN
                        IMAZA         NaN   NaN   NaN  NaN   NaN   NaN  NaN
...                                   ...   ...   ...  ...   ...   ...  ...
UCAYALI      PADRE ABAD HUIPOCA       NaN   NaN   NaN  NaN   NaN   NaN  NaN
                        IRAZOLA      20.0  14.0  15.0  3.0   3.0   NaN  1.0
                        NESHUYA       NaN   NaN   NaN  NaN   6.0   6.0  2.0
                        PADRE ABAD   40.0  21.0   4.0  5.0  11.0  10.0  3.0
             PURUS      PURUS         NaN   NaN   NaN  NaN   NaN   NaN  NaN


ano                                2019  2020  2021   2022
departamento provincia  distrito
AMAZONAS     BAGUA      ARAMANGO    NaN   1.0   3.0    7.0
                        BAGUA       5.0  20.0  53.0  122.0
                        COPALLIN    NaN   1.0   4.0    3.0
                        EL PARCO    NaN   NaN   NaN    3.0
                        IMAZA       NaN   NaN   1.0   14.0
...                                 ...   ...   ...    ...
UCAYALI      PADRE ABAD HUIPOCA     NaN   NaN   NaN    1.0
                        IRAZOLA     1.0   9.0   9.0    6.0
                        NESHUYA     NaN   1.0   2.0   16.0
                        PADRE ABAD  1.0  87.0  34.0   47.0
             PURUS      PURUS       NaN   NaN   NaN    1.0

[451 rows x 11 columns]

In [9]:
dengue_distYear_w=dengue_distYear.unstack(0).reset_index() 
dengue_distYear_w

    departamento   provincia    distrito conteo                               \
ano                                        2012  2013  2014 2015  2016  2017
0       AMAZONAS       BAGUA    ARAMANGO    1.0   NaN   NaN  NaN   NaN   NaN
1       AMAZONAS       BAGUA       BAGUA   50.0   1.0   3.0  NaN   NaN   NaN
2       AMAZONAS       BAGUA    COPALLIN    1.0   NaN   NaN  NaN   NaN   NaN
3       AMAZONAS       BAGUA    EL PARCO    NaN   NaN   NaN  NaN   NaN   NaN
4       AMAZONAS       BAGUA       IMAZA    NaN   NaN   NaN  NaN   NaN   NaN
..           ...         ...         ...    ...   ...   ...  ...   ...   ...
446      UCAYALI  PADRE ABAD     HUIPOCA    NaN   NaN   NaN  NaN   NaN   NaN
447      UCAYALI  PADRE ABAD     IRAZOLA   20.0  14.0  15.0  3.0   3.0   NaN
448      UCAYALI  PADRE ABAD     NESHUYA    NaN   NaN   NaN  NaN   6.0   6.0
449      UCAYALI  PADRE ABAD  PADRE ABAD   40.0  21.0   4.0  5.0  11.0  10.0
450      UCAYALI       PURUS       PURUS    NaN   NaN   NaN  NaN   NaN   NaN


ano 2018 2019  2020  2021   2022
0    NaN  NaN   1.0   3.0    7.0
1    1.0  5.0  20.0  53.0  122.0
2    NaN  NaN   1.0   4.0    3.0
3    NaN  NaN   NaN   NaN    3.0
4    NaN  NaN   NaN   1.0   14.0
..   ...  ...   ...   ...    ...
446  NaN  NaN   NaN   NaN    1.0
447  1.0  1.0   9.0   9.0    6.0
448  2.0  NaN   1.0   2.0   16.0
449  3.0  1.0  87.0  34.0   47.0
450  NaN  NaN   NaN   NaN    1.0

[451 rows x 14 columns]

In [10]:
dengue_distYear_w.columns=['departamento','provincia','distrito']+list(range(2012,2023))
dengue_distYear_w.head()

,departamento,provincia,distrito,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AMAZONAS,BAGUA,ARAMANGO,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,7.0
1,AMAZONAS,BAGUA,BAGUA,50.0,1.0,3.0,NaN,NaN,NaN,1.0,5.0,20.0,53.0,122.0
2,AMAZONAS,BAGUA,COPALLIN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,3.0
3,AMAZONAS,BAGUA,EL PARCO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
4,AMAZONAS,BAGUA,IMAZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14.0

In [11]:
dengue_distYear_w.fillna(0,inplace=True)
dengue_distYear_w.head()

,departamento,provincia,distrito,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AMAZONAS,BAGUA,ARAMANGO,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,7.0
1,AMAZONAS,BAGUA,BAGUA,50.0,1.0,3.0,0.0,0.0,0.0,1.0,5.0,20.0,53.0,122.0
2,AMAZONAS,BAGUA,COPALLIN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,3.0
3,AMAZONAS,BAGUA,EL PARCO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
4,AMAZONAS,BAGUA,IMAZA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,14.0

In [12]:
mapLink='https://github.com/SocialAnalytics-StrategicIntelligence/GeoDF_Analytics/raw/main/maps/DistritosMap.zip'

import geopandas as gpd

datadismap=gpd.read_file(mapLink)

datadismap.head()

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry
0,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,IGN,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1..."
1,TACNA,TACNA,POCOLLAY,IGN,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9..."
2,TACNA,TACNA,CALANA,IGN,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9..."
3,TACNA,TACNA,TACNA,IGN,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9..."
4,TACNA,TACNA,SAMA,IGN,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9..."

In [13]:
datadismap['location']=['+'.join(x[0]) for x in zip(datadismap.iloc[:,:3].values)]
datadismap.head(10)

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry,location
0,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,IGN,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1...",TACNA+TACNA+CORONEL GREGORIO ALBARRACIN LANCHIPA
1,TACNA,TACNA,POCOLLAY,IGN,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9...",TACNA+TACNA+POCOLLAY
2,TACNA,TACNA,CALANA,IGN,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9...",TACNA+TACNA+CALANA
3,TACNA,TACNA,TACNA,IGN,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9...",TACNA+TACNA+TACNA
4,TACNA,TACNA,SAMA,IGN,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9...",TACNA+TACNA+SAMA
5,TACNA,TACNA,CIUDAD NUEVA,IGN,"POLYGON ((-70.07117 -17.71120, -70.07110 -17.7...",TACNA+TACNA+CIUDAD NUEVA
6,TACNA,JORGE BASADRE,ITE,IGN,"POLYGON ((-70.86340 -17.68767, -70.86283 -17.6...",TACNA+JORGE BASADRE+ITE
7,MOQUEGUA,ILO,ILO,IGN,"POLYGON ((-71.33934 -17.62215, -71.33907 -17.6...",MOQUEGUA+ILO+ILO
8,TACNA,TACNA,ALTO DE LA ALIANZA,IGN,"POLYGON ((-70.14997 -17.59887, -70.15027 -17.6...",TACNA+TACNA+ALTO DE LA ALIANZA
9,TACNA,TACNA,PACHIA,IGN,"POLYGON ((-69.93201 -17.58982, -69.93085 -17.5...",TACNA+TACNA+PACHIA

In [14]:
dengue_distYear_w['location']=['+'.join(x[0]) for x in zip(dengue_distYear_w.iloc[:,:3].values)]

## Preprocessing

After observing both tables, it would be better if the columns with names have the same capitalization, and no extra blank spaces:

The names from non-english speaking countries may come with some symbols that may cause trouble (', ~). Let's get rid of those:

In [15]:
import unidecode


byePunctuation=lambda x: unidecode.unidecode(x)
dengue_distYear_w['location']=dengue_distYear_w['location'].apply(byePunctuation)
datadismap['location']=datadismap['location'].apply(byePunctuation)

Let me see how many district we have:

It would be good making sure no *ghost* appears between words:

In [16]:
# replacing dashes and multiple spaces by a simple space
dengue_distYear_w['location']=dengue_distYear_w.location.str.replace("\-|\_|\s+","",regex=True)
datadismap['location']=datadismap.location.str.replace("\-|\_|\s+","",regex=True)

## Merging

We need to merge both tables now. That can happen effectively if both tables have a **key** column: a column (or collection of them) whose values in one table are the same in the other one.

The match need not be exact, but only common values in the *key* are merged.

Let's find out what is NOT matched in each table:

In [17]:
nomatch_df=set(dengue_distYear_w.location)- set(datadismap.location)
nomatch_gdf=set(datadismap.location)-set(dengue_distYear_w.location)

This is what could not be matched:

In [18]:
len(nomatch_df), len(nomatch_gdf)

(15, 1438)

The right way to go is using **fuzzy merging** (remember we need  _the fuzz_):

In [19]:
# pick the closest match from nomatch_gdf for a value in nomatch_df
from thefuzz import process
[(dis,process.extractOne(dis,nomatch_gdf)) for dis in sorted(nomatch_df)]

[('ANCASH+SANTA+NEPEieA', ('ANCASH+SANTA+SANTA', 95)),
 ('AYACUCHO+LAMAR+UNIONPROGRESO',
  ('AYACUCHO+PARINACOCHAS+SANFRANCISCODERAVACAYCO', 86)),
 ('CUSCO+LACONVENCION+CIELOPUNCO', ('CUSCO+LACONVENCION+QUELLOUNO', 88)),
 ('CUSCO+LACONVENCION+MANITEA', ('CUSCO+CUSCO+CUSCO', 86)),
 ('ICA+ICA+LATINGUIA', ('ICA+ICA+LATINGUINA', 97)),
 ('LAMBAYEQUE+CHICLAYO+SAA', ('LAMBAYEQUE+CHICLAYO+SANA', 98)),
 ('LAMBAYEQUE+FERRENAFE+FERREAFE', ('LAMBAYEQUE+FERRENAFE+FERRENAFE', 98)),
 ('MADREDEDIOS+TAHUAMANU+IAPARI', ('MADREDEDIOS+TAHUAMANU+INAPARI', 98)),
 ('PIURA+TALARA+PARIieAS', ('PIURA+TALARA+PARINAS', 93)),
 ('SANMARTIN+LAMAS+CUUMBUQUI', ('SANMARTIN+LAMAS+CUNUMBUQUI', 98)),
 ('SANMARTIN+PICOTA+CASPIZAPA', ('SANMARTIN+PICOTA+CASPISAPA', 96)),
 ('SANMARTIN+RIOJA+ELIASSOPLINVARGAS',
  ('SANMARTIN+RIOJA+ELIASSOPLiNVARGAS', 100)),
 ('UCAYALI+ATALAYA+RAIMONDI', ('UCAYALI+ATALAYA+RAYMONDI', 96)),
 ('UCAYALI+PADREABAD+BOQUERON', ('UCAYALI+ATALAYA+RAYMONDI', 60)),
 ('UCAYALI+PADREABAD+HUIPOCA', ('JUNIN+TARMA+HUARICOLCA', 55))]

In [20]:
datadismap[datadismap.DISTRITO.str.startswith('NEPE')]

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry,location
1173,ANCASH,SANTA,NEPEÑA,IGN,"POLYGON ((-78.19555 -8.98823, -78.19539 -8.989...",ANCASH+SANTA+NEPENA

In [21]:
dengue_distYear_w[dengue_distYear_w.distrito.str.startswith('NEPE')]

,departamento,provincia,distrito,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,location
21,ANCASH,SANTA,NEPEѐA,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,ANCASH+SANTA+NEPEieA

In [22]:
dengue_distYear_w.loc[21,'distrito']='NEPEÑA'
dengue_distYear_w.loc[21,'location']='ANCASH+SANTA+NEPENA'

nomatch_df=set(dengue_distYear_w.location)- set(datadismap.location)
nomatch_gdf=set(datadismap.location)-set(dengue_distYear_w.location) 

[(dis,process.extractOne(dis,nomatch_gdf)) for dis in sorted(nomatch_df)]

[('AYACUCHO+LAMAR+UNIONPROGRESO',
  ('AYACUCHO+PARINACOCHAS+SANFRANCISCODERAVACAYCO', 86)),
 ('CUSCO+LACONVENCION+CIELOPUNCO', ('CUSCO+LACONVENCION+QUELLOUNO', 88)),
 ('CUSCO+LACONVENCION+MANITEA', ('CUSCO+CUSCO+CUSCO', 86)),
 ('ICA+ICA+LATINGUIA', ('ICA+ICA+LATINGUINA', 97)),
 ('LAMBAYEQUE+CHICLAYO+SAA', ('LAMBAYEQUE+CHICLAYO+SANA', 98)),
 ('LAMBAYEQUE+FERRENAFE+FERREAFE', ('LAMBAYEQUE+FERRENAFE+FERRENAFE', 98)),
 ('MADREDEDIOS+TAHUAMANU+IAPARI', ('MADREDEDIOS+TAHUAMANU+INAPARI', 98)),
 ('PIURA+TALARA+PARIieAS', ('PIURA+TALARA+PARINAS', 93)),
 ('SANMARTIN+LAMAS+CUUMBUQUI', ('SANMARTIN+LAMAS+CUNUMBUQUI', 98)),
 ('SANMARTIN+PICOTA+CASPIZAPA', ('SANMARTIN+PICOTA+CASPISAPA', 96)),
 ('SANMARTIN+RIOJA+ELIASSOPLINVARGAS',
  ('SANMARTIN+RIOJA+ELIASSOPLiNVARGAS', 100)),
 ('UCAYALI+ATALAYA+RAIMONDI', ('UCAYALI+ATALAYA+RAYMONDI', 96)),
 ('UCAYALI+PADREABAD+BOQUERON', ('UCAYALI+ATALAYA+RAYMONDI', 60)),
 ('UCAYALI+PADREABAD+HUIPOCA', ('JUNIN+TARMA+HUARICOLCA', 55))]

If you are comfortable, you prepare a _dictionary_ of changes:

In [23]:
# is this OK?
{dis:process.extractOne(dis,nomatch_gdf)[0] for dis in sorted(nomatch_df) if process.extractOne(dis,nomatch_gdf)[1]>=90}

{'ICA+ICA+LATINGUIA': 'ICA+ICA+LATINGUINA',
 'LAMBAYEQUE+CHICLAYO+SAA': 'LAMBAYEQUE+CHICLAYO+SANA',
 'LAMBAYEQUE+FERRENAFE+FERREAFE': 'LAMBAYEQUE+FERRENAFE+FERRENAFE',
 'MADREDEDIOS+TAHUAMANU+IAPARI': 'MADREDEDIOS+TAHUAMANU+INAPARI',
 'PIURA+TALARA+PARIieAS': 'PIURA+TALARA+PARINAS',
 'SANMARTIN+LAMAS+CUUMBUQUI': 'SANMARTIN+LAMAS+CUNUMBUQUI',
 'SANMARTIN+PICOTA+CASPIZAPA': 'SANMARTIN+PICOTA+CASPISAPA',
 'SANMARTIN+RIOJA+ELIASSOPLINVARGAS': 'SANMARTIN+RIOJA+ELIASSOPLiNVARGAS',
 'UCAYALI+ATALAYA+RAIMONDI': 'UCAYALI+ATALAYA+RAYMONDI'}

In [24]:
# then:
changesDengue1={dis:process.extractOne(dis,nomatch_gdf)[0] for dis in sorted(nomatch_df) if process.extractOne(dis,nomatch_gdf)[1]>=90}

Now, make the replacements:

In [40]:
dengue_distYear_w.location.replace(changesDengue1,inplace=True)

In [26]:
nomatch_df=set(dengue_distYear_w.location)- set(datadismap.location)
nomatch_gdf=set(datadismap.location)-set(dengue_distYear_w.location) 

[(dis,process.extractOne(dis,nomatch_gdf)) for dis in sorted(nomatch_df)]

[('AYACUCHO+LAMAR+UNIONPROGRESO',
  ('AYACUCHO+PARINACOCHAS+SANFRANCISCODERAVACAYCO', 86)),
 ('CUSCO+LACONVENCION+CIELOPUNCO', ('CUSCO+LACONVENCION+QUELLOUNO', 88)),
 ('CUSCO+LACONVENCION+MANITEA', ('CUSCO+CUSCO+CUSCO', 86)),
 ('UCAYALI+PADREABAD+BOQUERON', ('HUANCAVELICA+HUAYTARA+QUERCO', 56)),
 ('UCAYALI+PADREABAD+HUIPOCA', ('JUNIN+TARMA+HUARICOLCA', 55))]

In [39]:
dengue_distYear_w[dengue_distYear_w.distrito.str.startswith('UNIO')]

,departamento,provincia,distrito,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,location
36,AYACUCHO,LA MAR,UNION PROGRESO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,AYACUCHO+LAMAR+UNIONPROGRESO

In [ ]:
datadismap[datadismap.distrito.str.startswith('UNIO')]

In [43]:
dengue_distYear_w[dengue_distYear_w.distrito.str.startswith('CIELO')]

,departamento,provincia,distrito,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,location
64,CUSCO,LA CONVENCION,CIELO PUNCO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,CUSCO+LACONVENCION+CIELOPUNCO

In [44]:
dengue_distYear_w[dengue_distYear_w.distrito.str.startswith('MANIT')]

,departamento,provincia,distrito,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,location
68,CUSCO,LA CONVENCION,MANITEA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,CUSCO+LACONVENCION+MANITEA

In [45]:
dengue_distYear_w[dengue_distYear_w.distrito.str.startswith('BOQU')]

,departamento,provincia,distrito,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,location
444,UCAYALI,PADRE ABAD,BOQUERON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,UCAYALI+PADREABAD+BOQUERON

In [ ]:
dengue_distYear_w[dengue_distYear_w.distrito.str.startswith('HUIPO')]

Now the merge can happen:

In [ ]:
datadismap=datadismap.merge(datadis, on='provDist')

In [ ]:
# check
datadismap.info()

We can get rid of some columns:

In [ ]:
bye=['Departamento', 'Provincia', 'Distrito','INSTITUCIO']
datadismap.drop(columns=bye,inplace=True)

# keeping
datadismap.head()

We can save this gdf:

In [ ]:
datadismap.to_file(os.path.join('maps',"dataMapPeru.gpkg"), layer='distritos', driver="GPKG")

### Exercise 1

<div class="alert-success">
    
**ALTERNATIVE A**
    
1. Get a map of the Provinces of Peru.
    
2. Get a table of variables on provinces of Peru. At least 3 numerical variables.

3. Preprocess both tables and get them ready for merging.

4. Do the merging, making the changes needed so that you keep the most columns.
    

**ALTERNATIVE B**    
    
1. Use the map of the Districts of Peru from this class.
    
2. Get a new table of variables on districts of Peru. At least 3 numerical variables.

3. Preprocess both tables and get them ready for merging.

4. Do the merging, making the changes needed so that you keep the most columns.

5. Select the districts of ONE Department for the other excercises. Do not select  Pasco,Tacna,Moquegua, Ucayali, Tumbes, Madre de Dios, Callao.

    
**ALTERNATIVE C**

Do alternative A with a different country.
    
</div>

## Exploring one variable

This time, we explore statistically one variable in the map:

In [ ]:
# statistics
datadismap.IDH2019.describe()

In [ ]:
import seaborn as sea

sea.displot(datadismap.IDH2019, color='yellow')

This plot tells you the distribution of the values, but not the presence of outliers, which you are revealed in a boxplot:

In [ ]:
sea.boxplot(datadismap.IDH2019, color='yellow',orient='h')

Notice the histogram divides the data in intervals which are the base of the bars. Seaborn uses the [Freedman-Diaconis](https://en.wikipedia.org/wiki/Freedman%E2%80%93Diaconis_rule) formula to compute the bins.

Let's see other possibilities, but please install [**numba**](https://numba.readthedocs.io/en/stable/user/installing.html) before runing the next code; also make sure you have **pysal**, **mapclassify** and **numpy** installed:

In [ ]:
import mapclassify 
import numpy as np

np.random.seed(12345) # so we all get the same results!

# let's try 5 intervals
K=5
# same interval width, easy interpretation
ei5 = mapclassify.EqualInterval(datadismap['IDH2019'], k=K)
# same interval width based on standard deviation, easy - but not as the previous one, poor when high skewness
msd = mapclassify.StdMean(datadismap['IDH2019'])
# interval width varies, counts per interval are close, not easy to grasp, repeated values complicate cuts                                
q5=mapclassify.Quantiles(datadismap['IDH2019'],k=K)

# based on similarity, good for multimodal data 
mb5 = mapclassify.MaximumBreaks(datadismap['IDH2019'], k=K)
# based on similarity, good for skewed data
ht = mapclassify.HeadTailBreaks(datadismap['IDH2019']) # no K needed
# based on similarity, optimizer
fj5 = mapclassify.FisherJenks(datadismap['IDH2019'], k=K)
# based on similarity, optimizer
jc5 = mapclassify.JenksCaspall(datadismap['IDH2019'], k=K)
# based on similarity, optimizer
mp5 = mapclassify.MaxP(datadismap['IDH2019'], k=K)

Let's see the **HeadTailBreaks** results:

In [ ]:
# a frequency table by default
ht

In [ ]:
# group label
ht.yb

In [ ]:
# labels and counts
np.unique(ht.yb,return_counts=True)

In [ ]:
# ht.yb into a pandas Series

pd.Series(ht.yb).value_counts()

In [ ]:
# these are the cuts, but it is not including the min value
ht.bins

Based on the previous information, let me prepare a histogram:

In [ ]:
# completing the bins
HT_bins=list(ht.bins)
HT_bins.insert(0,datadismap.IDH2019.min())

In [ ]:
sea.displot(datadismap.IDH2019, bins=HT_bins,color='yellow')

How can we select the right classification. Let me use the the Absolute deviation around class median (ADCM) to make the comparisson:

In [ ]:

class5 = q5, ei5,msd, ht, mb5, fj5, jc5, mp5
# Collect ADCM for each classifier
fits = np.array([ c.adcm for c in class5])
# Convert ADCM scores to a DataFrame
adcms = pd.DataFrame(fits)
# Add classifier names
adcms['classifier'] = [c.name for c in class5]
# Add column names to the ADCM
adcms.columns = ['ADCM', 'Classifier']
ax = sea.barplot(
    y='Classifier', x='ADCM', data=adcms, palette='Pastel1'
)

Let's keep the three schemes with the lowest  ADCM:

In [ ]:
datadismap['QU'] = q5.yb 
datadismap['FJ'] = fj5.yb
datadismap['JC'] = jc5.yb

In [ ]:
# how many cases per scheme:

class5new = q5,fj5, jc5
pd.DataFrame(
    {c.name: c.counts for c in class5new},
    index=['Class-{}'.format(i) for i in range(5)]
)

Let me plot one of them:

In [ ]:
import matplotlib.pyplot as plt

f, ax = plt.subplots(1, figsize=(9, 9))
datadismap.plot(column='QU', 
        cmap='viridis', 
        categorical=True,
        edgecolor='white', 
        linewidth=0., 
        alpha=0.75, 
        legend=True,
        legend_kwds=dict(loc=2),
        ax=ax
       )

ax.set_axis_off()

Notice the **geopandas.plot()** can also use those schemes:

In [ ]:
f, ax = plt.subplots(1, figsize=(9, 9))
datadismap.plot(column='IDH2019', 
        cmap='viridis',       
        scheme='Quantiles',
        k=5, 
        edgecolor='white', 
        linewidth=0., 
        alpha=0.75, 
        legend=True,
        legend_kwds=dict(loc=2),
        ax=ax
       )

ax.set_axis_off()

Let's save what we have:

In [ ]:
# update
datadismap.to_file(os.path.join('maps',"dataMapPeru.gpkg"), layer='distritos', driver="GPKG")

### Exercise 2

<div class="alert-success">
    
1. Choose a numeric variable from your merged data.
2. Decide which are the three best classification schemes for that variable.
3. Make a map for each scheme selected.    
</div>

# Exploring several variables

We can turn our attention to several variables now:

In [ ]:
selected_variables = ['Educ_sec_comp2019_pct',
                     'NBI2017_pct', 
                     'Viv_sin_serv_hig2017_pct']
datadismap[selected_variables].describe()

Visualization in a key procedure to detect the need for further data transformation:

In [ ]:
sea.boxplot(datadismap[selected_variables])

In [ ]:
datadismap[selected_variables].hist();

Both univariate plots do not allow to see the relationships. Let's try a scatterplot:

In [ ]:
sea.pairplot(
    datadismap[selected_variables], kind="reg", diag_kind="kde"
)

We finally realize that **Educ_sec_comp2019_pct** has a negative correlation with the others (as expected). Let me reverse the variable:

In [ ]:
reverse=lambda x:abs(x-x.max())+x.min()

datadismap['Educ_sec_NO_comp2019_pct']=reverse(datadismap['Educ_sec_comp2019_pct'])
datadismap['Educ_sec_NO_comp2019_pct'].hist()

Now all our correlations will be positive:

In [ ]:
selected_variables_new = ['Educ_sec_NO_comp2019_pct',
                     'NBI2017_pct', 
                     'Viv_sin_serv_hig2017_pct']
sea.pairplot(
    datadismap[selected_variables_new], kind="reg", diag_kind="kde"
)

Keep in mind that the boxplot showed outliers. Let me try to re scale the data to smooth the distribution a little:

In [ ]:
columnsToScale=selected_variables_new


from sklearn.preprocessing import robust_scale as rs
from sklearn.preprocessing import power_transform as pt
from sklearn.preprocessing import quantile_transform as qt

rs_result=rs(datadismap[columnsToScale])
pt_result=pt(datadismap[columnsToScale])
qt_result=qt(datadismap[columnsToScale])

Let's see the results:

In [ ]:
pd.DataFrame(rs_result).boxplot(vert=False)

In [ ]:
pd.DataFrame(pt_result).boxplot(vert=False)

In [ ]:
pd.DataFrame(qt_result).boxplot(vert=False)

I will keep the **qt_result**, so let me add some columns to the gdf:

In [ ]:
# new names
selected_variables_new_t=[s+'_t' for s in selected_variables_new ]

# add colunms
datadismap[selected_variables_new_t]=qt_result

Let's plot the data we have used (I will the quantiles scheme **without** pre evaluation):

In [ ]:
f, axs = plt.subplots( ncols=3, nrows=3,figsize=(10, 10))
axs = axs.flatten()
# Start a loop over all the variables of interest
for i, col in enumerate(selected_variables_new_t + selected_variables_new + selected_variables):
    # select the axis where the map will go
    ax = axs[i]
    # Plot the map
    datadismap.plot(
        column=col,
        ax=ax,
        scheme="Quantiles",
        linewidth=0,
        cmap="RdPu",
    )
    # Remove axis clutter
    ax.set_axis_off()
    # Set the axis title to the name of variable being plotted
    ax.set_title(col)
# Display the figure
plt.show()

In [ ]:
# update
datadismap.to_file(os.path.join('maps',"dataMapPeru.gpkg"), layer='distritos', driver="GPKG")

### Exercise 3

<div class="alert-success">
    
1. Select three numeric variables.
    
2. Explore each one as above:
    * If needed reverse the variables (so that correlations are positive)
    * If needed re scale the variables (so that outliers are smoothed)
    * Evalue the  classification schemes for each variable.

4. Prepare a map for each variable, using the best classification scheme for each variable.


    
</div>

## Clustering

We used clustering to organize the data into homogeneus groups. Let me use a **dendogram** to explore the possible clusters:

In [ ]:
from scipy.cluster import hierarchy as hc


Z = hc.linkage(qt_result, 'ward')
# calculate full dendrogram
plt.figure(figsize=(25, 10))
plt.title('Hierarchical Clustering Dendrogram')
plt.xlabel('cases')
plt.ylabel('distance')
hc.dendrogram(
    Z,
    leaf_rotation=90.,  # rotates the x axis labels
    leaf_font_size=1,  # font size for the x axis labels
)
plt.show()

I have used all the variables in the dendogram, so I can decide how many groups could be created using that data:

In [ ]:
from sklearn.cluster import AgglomerativeClustering as agnes
# Set seed for reproducibility
np.random.seed(12345)
# Initialize the algorithm, requesting 3 clusters
model = agnes(linkage="ward", n_clusters=3).fit(datadismap[selected_variables_new_t])
# Assign labels to main data table
datadismap["hc_3"] = model.labels_

I reduce all the information from the three variables into a cluster variable:

In [ ]:
datadismap["hc_3"].value_counts()

Let's use the mean of each variable to understand the clusters:

In [ ]:
datadismap.groupby("hc_3")[selected_variables_new].mean()

I could profile the clusters better if I prepare a plot with all the variables. Let me create a new data frame in long shape:

In [ ]:
# Index db on cluster ID
datadismap_long = datadismap.set_index("hc_3").copy()
# Keep only variables used for clustering
datadismap_long = datadismap_long[selected_variables_new]
# Stack column names into a column, obtaining
# a "long" version of the dataset
datadismap_long = datadismap_long.stack()
# Take indices into proper columns
datadismap_long = datadismap_long.reset_index()
# Rename column names
datadismap_long = datadismap_long.rename(
    columns={"level_1": "Attribute", 0: "Values"}
)
# Check out result
datadismap_long.head()

Nos the profiling:

In [ ]:
# Setup the facets
facets = sea.FacetGrid(
    data=datadismap_long,
    col="hc_3",
    hue="Attribute",
    sharey=False,
    sharex=False,
    aspect=2,
    col_wrap=3,
)
# Build the plot as a `sns.kdeplot`
facets.map(sea.kdeplot, "Values", fill=True).add_legend()

Finally, just color the map:

In [ ]:
# Set up figure and ax
f, ax = plt.subplots(1, figsize=(9, 9))
# Plot unique values choropleth including
# a legend and with no boundary lines
datadismap.plot(
    column="hc_3", categorical=True, legend=True, linewidth=0, ax=ax
)
# Remove axis
ax.set_axis_off()
# Display the map
plt.show()

### Exercise 4

<div class="alert-success">
    
1. Keep the previous three variables, after you pre processed them.
    
2. Prepare a dendogram, and decide which is better: 3 or 5 clusters.
    
3. Cluster the data into the amount of clusters selected.

4. Prepare a visualization to profile each cluster.

5. Plot the cluster map.


    
</div>

## Spatial Correlation

### Neighboorhood

We can compute the neighborhood in a map using different algorithms:

In [ ]:
from libpysal.weights import Queen, Rook, KNN

# rook
w_rook = Rook.from_dataframe(datadismap)

In [ ]:
# rook
w_queen = Queen.from_dataframe(datadismap)

In [ ]:
# k nearest neighbors
w_knn = KNN.from_dataframe(datadismap, k=4)

Let's understand the differences:

In [ ]:
# first one
datadismap.head(1)

In [ ]:
# amount neighbors of that district
w_rook.neighbors[0]

In [ ]:
# see
base=datadismap[datadismap.PROVINCIA=="TACNA"].plot()
datadismap.iloc[w_rook.neighbors[0] ,].plot(ax=base,facecolor="yellow")
datadismap.head(1).plot(ax=base,facecolor="red")

Let's do the same:

In [ ]:
w_queen.neighbors[0]

In [ ]:
base=datadismap[datadismap.PROVINCIA=="TACNA"].plot()
datadismap.iloc[w_queen.neighbors[0] ,].plot(ax=base,facecolor="yellow")
datadismap.head(1).plot(ax=base,facecolor="red")

In [ ]:
w_knn.neighbors[0]

In [ ]:

base=datadismap[datadismap.PROVINCIA=="TACNA"].plot()
datadismap.iloc[w_knn.neighbors[0],].plot(ax=base,facecolor="yellow")
datadismap.head(1).plot(ax=base,facecolor="red")

Let me pay attention to the knn results:

In [ ]:
# all the neighbors by row
w_knn.neighbors

In [ ]:
# the matrix of neighboorhood:

pd.DataFrame(*w_knn.full()).astype(int) # 1 means both are neighbors

In [ ]:
# count of zeros
w_knn.nonzero

In [ ]:
# pct of neighboorhood (density)
w_knn.pct_nonzero

In [ ]:
# a district with NO neighbor?
w_knn.islands

### Exercise 5

<div class="alert-success">
    
1. Compute the three neighboohoods shown above for you data.
    
2. Select one polygon, and plot it with its neighbors as above.
    
</div>

## Spatial correlation

We need the neighboorhood matrix (the weight matrix) to compute spatial correlation: if the variable value is correlated with the values of its neighbors - which proves a spatial effect.

In [ ]:
# needed for spatial correlation
w_knn.transform = 'R'

Spatial correlation is measured by the Moran's I statistic:

In [ ]:
from esda.moran import Moran

moranIDH = Moran(datadismap['IDH2019'], w_knn)
moranIDH.I,moranIDH.p_sim

A significant Moran's I suggest spatial correlation. Let's see the spatial scatter plot

In [ ]:
from splot.esda import moran_scatterplot

fig, ax = moran_scatterplot(moranIDH, aspect_equal=True)
ax.set_xlabel('IDH_std')
ax.set_ylabel('SpatialLag_IDH_std')
plt.show()

### Exercise 6

<div class="alert-success">
    
1. Compute the Moran's coefficient for **all** your numeric variables.
    
2. Make a scatter plot for each variable.
    
</div>

### Local Spatial Correlation

We can compute a LISA (local Moran) for each case. That will help us find spatial clusters (spots) and spatial outliers:

* A **hotSpot** is a polygon whose value in the variable is high AND is surrounded with polygons with also high values.

* A **coldSpot** is a polygon whose value in the variable is low AND is surrounded with polygons with also low values.

* A **coldOutlier** is a polygon whose value in the variable is low BUT is surrounded with polygons with  high values.

* A **hotOutlier** is a polygon whose value in the variable is high BUT is surrounded with polygons with  low values.

It is also possible that no significant correlation is detected. Let's see those values:

In [ ]:
# The scatterplot with local info
from esda.moran import Moran_Local

# calculate Moran_Local and plot
lisaIDH = Moran_Local(y=datadismap['IDH2019'], w=w_knn,seed=2022)
fig, ax = moran_scatterplot(lisaIDH,p=0.05)
ax.set_xlabel('IDH_std')
ax.set_ylabel('SpatialLag_IDH_std')
plt.show()

In [ ]:
# the map with the spots and outliers

from splot.esda import lisa_cluster
f, ax = plt.subplots(1, figsize=(12, 12))
plt.title('Spots and Outliers')
fig = lisa_cluster(lisaIDH, 
                   datadismap,ax=ax,
                   legend_kwds={'loc': 'center left', 
                                'bbox_to_anchor': (0.7, 0.6)})
plt.show()

Let me add that data to my gdf:

In [ ]:
# quadrant
lisaIDH.q

In [ ]:
# significance
lisaIDH.p_sim

In [ ]:
# quadrant: 1 HH,  2 LH,  3 LL,  4 HL
pd.Series(lisaIDH.q).value_counts()

The info in **lisaIDH.q** can not be used right away, we need to add if the local spatial correlation is significant:

In [ ]:
datadismap['IDH_quadrant']=[l if p <0.05 else 0 for l,p in zip(lisaIDH.q,lisaIDH.p_sim)  ]
datadismap['IDH_quadrant'].value_counts()

Now, we recode:

In [ ]:
labels = [ '0 no_sig', '1 hotSpot', '2 coldOutlier', '3 coldSpot', '4 hotOutlier']

datadismap['IDH_quadrant_names']=[labels[i] for i in datadismap['IDH_quadrant']]

datadismap['IDH_quadrant_names'].value_counts()

Let's replot:

In [ ]:
from matplotlib import colors
myColMap = colors.ListedColormap([ 'ghostwhite', 'red', 'green', 'black','orange'])



# Set up figure and ax
f, ax = plt.subplots(1, figsize=(12,12))
# Plot unique values choropleth including
# a legend and with no boundary lines

plt.title('Spots and Outliers')

datadismap.plot(column='IDH_quadrant_names', 
                categorical=True,
                cmap=myColMap,
                linewidth=0.1, 
                edgecolor='white',
                legend=True,
                legend_kwds={'loc': 'center left', 
                             'bbox_to_anchor': (0.7, 0.6)},
                ax=ax)
# Remove axis
ax.set_axis_off()
# Display the map
plt.show()

In [ ]:
# final update
datadismap.to_file(os.path.join('maps',"dataMapPeru.gpkg"), layer='distritos', driver="GPKG")

### Exercise 7

<div class="alert-success">
    
1. Compute the Local Moran for the variables in your data that have significant spatial correlation.
    
2. Create a new column for each of those variables, with a label ('0 no_sig', '1 hotSpot', '2 coldOutlier', '3 coldSpot', '4 hotOutlier').

3. Prepare a map for each of the variables analyzed, showing the spots and outliers.
    
</div>